interactions:
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=user+access+control+permissions+RBAC+authentication+label%3Aaccess-control%2Cauthentication%2Cusers
  response:
    body:
      string: |
        {
          "total_count": 6,
          "incomplete_results": false,
          "items": [
            {
              "id": 20,
              "number": 501,
              "title": "ET96: User access control and permissions management",
              "state": "open",
              "body": "## User Access Control Implementation (ET96)\n\n### Current State\n- **User Authentication**: SAML SSO with corporate identity provider\n- **Role-Based Access Control**: Implemented using GitHub teams and repository permissions\n- **Access Review Process**: Quarterly access reviews documented\n- **Onboarding/Offboarding**: Automated user provisioning via HR system integration\n\n### Access Control Matrix\n\n| Role | Repository Access | Admin Rights | Deploy Rights |\n|------|------------------|--------------|---------------|\n| Developer | Read/Write | No | No |\n| Senior Developer | Read/Write | No | Staging |\n| Team Lead | Admin | Repository | Staging |\n| Engineering Manager | Admin | Organization | Production |\n| Security Team | Admin | Organization | All |\n\n### Compliance Evidence\n- [x] User access documented in access control matrix\n- [x] Role definitions aligned with job responsibilities\n- [x] Regular access reviews conducted and documented\n- [x] Automated provisioning/deprovisioning process\n- [x] Multi-factor authentication enforced for all users\n\n### ET96 Requirements Met\n✅ **Access Control Policy**: Documented and approved\n✅ **Role-Based Access**: Implemented with least privilege\n✅ **Access Reviews**: Quarterly reviews with evidence\n✅ **User Lifecycle Management**: Automated processes\n✅ **Authentication Controls**: MFA and SSO implemented",
              "user": {
                "login": "compliance-team",
                "type": "User"
              },
              "labels": [
                {
                  "name": "access-control",
                  "color": "0075ca"
                },
                {
                  "name": "authentication",
                  "color": "1d76db"
                },
                {
                  "name": "users",
                  "color": "a2eeef"
                },
                {
                  "name": "et96",
                  "color": "d4edda"
                },
                {
                  "name": "soc2",
                  "color": "bfd4f2"
                }
              ],
              "created_at": "2024-08-01T09:00:00Z",
              "updated_at": "2024-08-20T14:30:00Z",
              "html_url": "https://github.com/test-org/test-repo/issues/501",
              "pull_request": null
            },
            {
              "id": 21,
              "number": 502,
              "title": "RBAC implementation for application systems",
              "state": "closed",
              "body": "## Role-Based Access Control Implementation Complete\n\n### Implemented RBAC System\n✅ **Role Definitions**\n- Application User (read-only access to own data)\n- Power User (read-write access to department data)\n- Administrator (full access to application)\n- System Administrator (inf[...]
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=user+onboarding+access+provisioning+label%3Auser-management%2Cprocess
  response:
    body:
      string: |
        {
          "total_count": 2,
          "incomplete_results": false,
          "items": [
            {
              "id": 23,
              "number": 504,
              "title": "Automated user onboarding and access prov[...]
