interactions:
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=security+policy+implementation+documentation+label%3Asecurity%2Cpolicy%2Cdocumentation
  response:
    body:
      string: |
        {
          "total_count": 3,
          "incomplete_results": false,
          "items": [
            {
              "id": 30,
              "number": 601,
              "title": "CC1.1: Security policy implementation and documentation",
              "state": "open",
              "body": "## Security Policy Implementation (CC1.1)\n\n### Policy Framework\n- **Information Security Policy**: Comprehensive policy covering all aspects of information security\n- **Access Control Policy**: Detailed access control procedures and standards\n- **Data Protection Policy**: Data classification and protection requirements\n- **Incident Response Policy**: Security incident handling procedures\n- **Change Management Policy**: Secure change management processes\n\n### Implementation Status\n✅ **Policy Development**\n- All policies developed with stakeholder input\n- Legal and compliance review completed\n- Executive approval and sign-off obtained\n- Version control and document management implemented\n\n✅ **Communication and Training**\n- Policy communication plan executed\n- All-hands training sessions conducted\n- Role-specific training materials developed\n- Annual policy acknowledgment process implemented\n\n### Technical Implementation\n- Security controls implemented per policy requirements\n- Monitoring and alerting systems configured\n- Regular policy compliance assessments scheduled\n- Continuous improvement process established\n\n### Evidence Documentation\n- Policy documents stored in controlled document repository\n- Training completion records maintained\n- Policy acknowledgment signatures collected\n- Compliance assessment reports generated quarterly",
              "user": {
                "login": "security-governance",
                "type": "User"
              },
              "labels": [
                {
                  "name": "security",
                  "color": "0075ca"
                },
                {
                  "name": "policy",
                  "color": "f9d0c4"
                },
                {
                  "name": "documentation",
                  "color": "c5def5"
                },
                {
                  "name": "cc1.1",
                  "color": "d4edda"
                }
              ],
              "created_at": "2024-08-02T14:15:00Z",
              "updated_at": "2024-08-20T16:30:00Z",
              "html_url": "https://github.com/test-org/test-repo/issues/601",
              "pull_request": null
            }
          ]
        }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - 5000
      X-RateLimit-Remaining:
      - 4991
    status:
      code: 200
      message: OK
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=change+management+approval+process+label%3Achange-management%2Capproval%2Cprocess
  response:
    body:
      string: |
        {
          "total_count": 2,
          "incomplete_results": false,
          "items": [
            {
              "id": 31,
              "number": 602,
              "title": "CC3.2: Change management appr[...]
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=data+protection+encryption+compliance+label%3Adata-protection%2Cencryption%2Ccompliance
  response:
    body:
      string: |
        {
          "total_count": 4,
          "incomplete_results": false,
          "items": [
            {
              "id": 32,
              "number": 603,
              "title": "CC6.8: Data protection [...]
