interactions:
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=admin+permissions+owner+label%3Aadmin%2Csecurity%2Cpermissions
  response:
    body:
      string: |
        {
          "total_count": 3,
          "incomplete_results": false,
          "items": [
            {
              "id": 1,
              "number": 201,
              "title": "Review admin permissions and access controls",
              "state": "open",
              "body": "Need to audit all administrator permissions and ensure they follow least privilege principles. This includes:\n\n- Repository admin access\n- Organization owner permissions\n- Team admin roles\n- Branch protection rule management\n\nFor SOC2 compliance, we need to document who has admin access and why.",
              "user": {
                "login": "security-team",
                "type": "User"
              },
              "labels": [
                {
                  "name": "admin",
                  "color": "d73a4a"
                },
                {
                  "name": "security",
                  "color": "0075ca"
                },
                {
                  "name": "permissions",
                  "color": "a2eeef"
                }
              ],
              "created_at": "2024-08-01T10:00:00Z",
              "updated_at": "2024-08-20T15:30:00Z",
              "html_url": "https://github.com/test-org/test-repo/issues/201",
              "pull_request": null
            },
            {
              "id": 2,
              "number": 202,
              "title": "Implement branch protection with admin override restrictions",
              "state": "open",
              "body": "Configure branch protection rules to require:\n\n- Pull request reviews from code owners\n- Status checks to pass\n- Branches to be up to date\n- Restrict admin override capabilities\n\nThis ensures even administrators follow security processes.",
              "user": {
[...]
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=branch+protection+rules+required+reviews+label%3Asecurity%2Cbranch-protection
  response:
    body:
      string: |
        {
          "total_count": 2,
          "incomplete_results": false,
          "items": [
            {
              "id": 4,
              "number": 204,
              "title": "Configure required reviews for mai[...]
