interactions:
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=CI+CD+workflow+actions+security+label%3Aci%2Csecurity%2Cautomation
  response:
    body:
      string: |
        {
          "total_count": 4,
          "incomplete_results": false,
          "items": [
            {
              "id": 6,
              "number": 301,
              "title": "Implement security scanning in CI/CD pipeline",
              "state": "open",
              "body": "Add comprehensive security scanning to our CI/CD workflows:\n\n## Required Security Checks\n- **SAST**: Static Application Security Testing\n- **Dependency scanning**: Check for vulnerable dependencies\n- **Container scanning**: Scan Docker images for vulnerabilities\n- **Secret detection**: Prevent secrets from being committed\n\n## Implementation Plan\n1. Add GitHub Actions workflow for security scanning\n2. Configure CodeQL for SAST\n3. Integrate Snyk for dependency scanning\n4. Set up Trivy for container scanning\n5. Configure secret scanning alerts\n\nAll security checks must pass before deployment.",
              "user": {
                "login": "security-team",
                "type": "User"
              },
              "labels": [
                {
                  "name": "ci",
                  "color": "0052cc"
                },
                {
                  "name": "security",
                  "color": "0075ca"
                },
                {
                  "name": "automation",
                  "color": "1d76db"
                }
              ],
              "created_at": "2024-08-08T11:00:00Z",
              "updated_at": "2024-08-20T16:45:00Z",
              "html_url": "https://github.com/test-org/test-repo/issues/301",
              "pull_request": null
            },
            {
              "id": 7,
              "number": 302,
              "title": "CI workflow security hardening completed",
              "state": "closed",
              "body": "Successfully hardened our CI/CD security posture:\n\n## Implemented Security Controls\n✅ **OIDC token authentication** - No long-lived secrets\n✅ **Least privilege permissions** - Minimal required permissions per job\n✅ **Dependency pinning** - All actions pinned to specific SHA\n✅ **Artif[...]
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=security+scan+SAST+dependency+check+label%3Asecurity%2Cscanning%2Cvulnerability
  response:
    body:
      string: |
        {
          "total_count": 2,
          "incomplete_results": false,
          "items": [
            {
              "id": 9,
              "number": 304,
              "title": "SAST and dependency scanning imp[...]
