interactions:
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=pull+request+review+required+approval+label%3Areview%2Capproval%2Csecurity
  response:
    body:
      string: |
        {
          "total_count": 5,
          "incomplete_results": false,
          "items": [
            {
              "id": 10,
              "number": 401,
              "title": "Mandatory security review process for sensitive changes",
              "state": "open",
              "body": "Implement mandatory security review process for all changes affecting:\n\n## Scope of Security Reviews\n- **Authentication/Authorization** code changes\n- **Cryptographic implementations**\n- **Database schema modifications**\n- **Configuration changes** for production\n- **Third-party integrations**\n- **API endpoint modifications**\n\n## Review Requirements\n- **2 security team approvals** for sensitive changes\n- **Automated security testing** must pass\n- **Security checklist completion** required\n- **Threat modeling updates** if applicable\n\n## Implementation\n- CODEOWNERS file configuration\n- GitHub branch protection rules\n- Custom GitHub Apps for enforcement\n- Integration with security scanning tools",
              "user": {
                "login": "security-lead",
                "type": "User"
              },
              "labels": [
                {
                  "name": "review",
                  "color": "fbca04"
                },
                {
                  "name": "approval",
                  "color": "0e8a16"
                },
                {
                  "name": "security",
                  "color": "0075ca"
                },
                {
                  "name": "mandatory",
                  "color": "d93f0b"
                }
              ],
              "created_at": "2024-08-06T15:45:00Z",
              "updated_at": "2024-08-20T09:30:00Z",
              "html_url": "https://github.com/test-org/test-repo/issues/401",
              "pull_request": null
            },
            {
              "id": 11,
              "number": 402,
              "title": "Code review quality standards enforcement",
              "state": "closed",
              "body": "Successfully implemented comprehensive code review quality standards:\n\n## Implemented Standards\n✅ **Minimum review time**: 2 hours for non-trivial changes\n✅ **Required reviewers**: At least 2 for production changes\n✅ **Code owner approval**: Required for domain-specific changes\n✅ *[...]
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=code+review+quality+standards+label%3Acode-review%2Cquality%2Cstandards
  response:
    body:
      string: |
        {
          "total_count": 2,
          "incomplete_results": false,
          "items": [
            {
              "id": 13,
              "number": 404,
              "title": "Establish code review quality metrics a[...]
