interactions:
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=access+control+permissions+authorization+label%3Aaccess-control%2Csecurity
  response:
    body:
      string: |
        {
          "total_count": 2,
          "incomplete_results": false,
          "items": [
            {
              "id": 40,
              "number": 701,
              "title": "Access control matrix documentation and implementation",
              "state": "open",
              "body": "## Access Control Matrix Implementation\n\n### Current Access Control Framework\n- **Role-Based Access Control (RBAC)**: Implemented across all systems\n- **Least Privilege Principle**: Applied to all user accounts\n- **Segregation of Duties**: Enforced for critical operations\n- **Regular Access Reviews**: Conducted quarterly\n\n### Access Control Matrix\n\n| Role | System Access | Data Access | Admin Rights |\n|------|--------------|-------------|-------------|\n| Developer | Read/Write Code | Dev/Test Data | No |\n| Senior Developer | Read/Write Code | Dev/Test/Staging | Limited |\n| Team Lead | Full Repository | All Non-Prod | Repository Admin |\n| Security Team | Security Tools | All Data | Security Admin |\n| SysAdmin | Infrastructure | System Logs | Full Admin |\n\n### Implementation Status\n✅ Access control policies documented\n✅ Technical controls implemented\n✅ Regular access reviews scheduled\n✅ Audit logging in place\n✅ Exception handling process defined",
              "user": {
                "login": "security-team",
                "type": "User"
              },
              "labels": [
                {
                  "name": "access-control",
                  "color": "0075ca"
                },
                {
                  "name": "security",
                  "color": "d73a4a"
                }
              ],
              "created_at": "2024-08-01T10:00:00Z",
              "updated_at": "2024-08-20T15:30:00Z",
              "html_url": "https://github.com/test-org/test-repo/issues/701",
              "pull_request": null
            }
          ]
        }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-RateLimit-Limit:
      - 5000
      X-RateLimit-Remaining:
      - 4988
    status:
      code: 200
      message: OK
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=encryption+implementation+at+rest+in+transit+label%3Aencryption%2Csecurity%2Cdata-protection
  response:
    body:
      string: |
        {
          "total_count": 3,
          "incomplete_results": false,
          "items": [
            {
              "id": 41,
              "number": 702,
              "title": "Comprehensive encr[...]
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=audit+logging+monitoring+compliance+label%3Aaudit%2Clogging%2Ccompliance
  response:
    body:
      string: |
        {
          "total_count": 4,
          "incomplete_results": false,
          "items": [
            {
              "id": 42,
              "number": 703,
              "title": "Comprehensive audit logging and monito[...]
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - token [REDACTED]
    method: GET
    uri: https://api.github.com/search/issues?q=incident+response+security+breach+label%3Aincident-response%2Csecurity%2Cprocess
  response:
    body:
      string: |
        {
          "total_count": 2,
          "incomplete_results": false,
          "items": [
            {
              "id": 43,
              "number": 704,
              "title": "Incident response process and [...]
