interactions:
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.github.com/search/issues?q=repo%3Aeasel%2Fgrctool+security+encryption+access+is%3Aopen+label%3A%22security%22&sort=updated&order=desc&per_page=50
  response:
    body:
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
    code: 200
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Deprecation:
      - Tue, 04 Mar 2025 00:00:00 GMT
      Link:
      - <https://github.blog/changelog/2025-03-06-github-issues-projects-api-support-for-issues-advanced-search-and-more/>; rel="deprecation"; type="text/html"
      Sunset:
      - Tue, 04 Nov 2025 00:00:00 GMT
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, workflow
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1760291342'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '4'
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.github.com/search/issues?q=repo%3Aeasel%2Fgrctool+encryption+implementation+review+is%3Aopen+label%3A%22security%22+label%3A%22encryption%22&sort=updated&order=desc&per_page=50
  response:
    body:
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
    code: 200
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Deprecation:
      - Tue, 04 Mar 2025 00:00:00 GMT
      Link:
      - <https://github.blog/changelog/2025-03-06-github-issues-projects-api-support-for-issues-advanced-search-and-more/>; rel="deprecation"; type="text/html"
      Sunset:
      - Tue, 04 Nov 2025 00:00:00 GMT
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, workflow
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1760291342'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '5'
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.github.com/search/issues?q=repo%3Aeasel%2Fgrctool+encryption+KMS+CC6.8+label%3A%22security%22+label%3A%22encryption%22&sort=updated&order=desc&per_page=50
  response:
    body:
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/grctool/grctool/issues/4","repository_url":"https://api.github.com/repos/grctool/grctool","labels_url":"https://api.github.com/repos/grctool/grctool/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/grctool/grctool/issues/4/comments","events_url":"https://api.github.com/repos/grctool/grctool/issues/4/events","html_url":"https://github.com/grctool/grctool/issues/4","id":3507650109,"node_id":"I_kwDOPtFsnc7REn49","number":4,"title":"Implement encryption at rest","user":{"login":"testuser","id":94159,"node_id":"MDQ6VXNlcjk0MTU5","avatar_url":"https://avatars.githubusercontent.com/u/94159?v=4","gravatar_id":"","url":"https://api.github.com/users/easel","html_url":"https://github.com/testuser","followers_url":"https://api.github.com/users/testuser/followers","following_url":"https://api.github.com/users/testuser/following{/other_user}","gists_url":"https://api.github.com/users/testuser/gists{/gist_id}","starred_url":"https://api.github.com/users/testuser/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/testuser/subscriptions","organizations_url":"https://api.github.com/users/testuser/orgs","repos_url":"https://api.github.com/users/testuser/repos","events_url":"https://api.github.com/users/testuser/events{/privacy}","received_events_url":"https://api.github.com/users/testuser/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[{"id":9448981208,"node_id":"LA_kwDOPtFsnc8AAAACMzQC2A","url":"https://api.github.com/repos/grctool/grctool/labels/encryption","name":"encryption","color":"ededed","default":false,"description":null},{"id":9448981209,"node_id":"LA_kwDOPtFsnc8AAAACMzQC2Q","url":"https://api.github.com/repos/grctool/grctool/labels/security","name":"security","color":"ededed","default":false,"description":null},{"id":9448981210,"node_id":"LA_kwDOPtFsnc8AAAACMzQC2g","url":"https://api.github.com/repos/grctool/grctool/labels/soc2","name":"soc2","color":"ededed","default":false,"description":null},{"id":9448981211,"node_id":"LA_kwDOPtFsnc8AAAACMzQC2w","url":"https://api.github.com/repos/grctool/grctool/labels/data-protection","name":"data-protection","color":"ededed","default":false,"description":null}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-10-12T18:09:02Z","updated_at":"2025-10-12T18:09:02Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"sub_issues_summary":{"total":0,"completed":0,"percent_completed":0},"issue_dependencies_summary":{"blocked_by":0,"total_blocked_by":0,"blocking":0,"total_blocking":0},"body":"Enable
        KMS encryption for all data stores for CC6.8 compliance","reactions":{"url":"https://api.github.com/repos/grctool/grctool/issues/4/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/grctool/grctool/issues/4/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0}]}'
    code: 200
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Deprecation:
      - Tue, 04 Mar 2025 00:00:00 GMT
      Link:
      - <https://github.blog/changelog/2025-03-06-github-issues-projects-api-support-for-issues-advanced-search-and-more/>; rel="deprecation"; type="text/html"
      Sunset:
      - Tue, 04 Nov 2025 00:00:00 GMT
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, workflow
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1760308303'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '5'
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.github.com/search/issues?q=repo%3Aeasel%2Fgrctool+access+control+IAM+permissions+CC6.1+is%3Aopen+label%3A%22security%22+label%3A%22access-control%22&sort=updated&order=desc&per_page=50
  response:
    body:
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
    code: 200
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Deprecation:
      - Tue, 04 Mar 2025 00:00:00 GMT
      Link:
      - <https://github.blog/changelog/2025-03-06-github-issues-projects-api-support-for-issues-advanced-search-and-more/>; rel="deprecation"; type="text/html"
      Sunset:
      - Tue, 04 Nov 2025 00:00:00 GMT
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, workflow
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1760308303'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '6'
- request:
    body: null
    form: {}
    headers:
      Authorization:
      - '[REDACTED]'
    method: GET
    uri: https://api.github.com/search/issues?q=repo%3Aeasel%2Fgrctool+audit+logging+CloudTrail+monitoring+CC8.1+label%3A%22audit%22+label%3A%22logging%22+label%3A%22compliance%22&sort=updated&order=desc&per_page=50
  response:
    body:
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
    code: 200
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Deprecation:
      - Tue, 04 Mar 2025 00:00:00 GMT
      Link:
      - <https://github.blog/changelog/2025-03-06-github-issues-projects-api-support-for-issues-advanced-search-and-more/>; rel="deprecation"; type="text/html"
      Sunset:
      - Tue, 04 Nov 2025 00:00:00 GMT
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - admin:org, admin:org_hook, admin:public_key, admin:repo_hook, gist, notifications, repo, user, workflow
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '23'
      X-Ratelimit-Reset:
      - '1760308303'
      X-Ratelimit-Resource:
      - search
      X-Ratelimit-Used:
      - '7'
